[Unit]
Description=Privacyscanner Backend that manages the scanning processes and container instances 

[Service]
ExecStart=gunicorn --threads 50 --bind localhost:9000 wsgi:app
Restart=always
RestartSec=60
WorkingDirectory=/usr/lib/interactive_privacyscanner/manager
# change user!!
User=scanner

[Install]
WantedBy=graphical.target
